.cards {
	display: flex;
    flex-wrap: wrap;
}
.card {
	background: linear-gradient(-225deg, rgba(11, 181, 158,0.4) 0%, rgba(227, 76, 186,0.4) 50%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 6px;
    flex-basis: 442px;
    flex-grow: 1;
}
.card img {
	width: 200px;
    border-radius: 6px;
}
.card h4 {
	flex-grow: 1;
    padding: 20px;
    font-size: 34px;
}